# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
config.bat
